body {
    background-color: #ddfeff;
    color: white;
    font-family: 'VT323', monospace;
    margin: 0;
    overflow: hidden;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

/* Hud */

.hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem; 
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
}

.hp-section {
    font-size: 1.5rem;
}

#hptxt { font-size: 2.5rem; }

.hp-bar-container {
    width: 400px; 
    height: 25px;
    background-color: red;
}

#hpbar {
    width: 100%;
    height: 100%;
    background-color: yellow;
    transition: 0.1s;
}

.score-section {
    text-align: right;
    font-size: 2.2rem;
    color: skyblue;
    text-shadow: 1px 1px 2px black;
}
.score-section > div { margin-bottom: 0.5rem; }


/* Track */

.track-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; 
    height: 85vh; 
    max-height: 800px; 
}

.track {
    display: flex; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
}


.note-lane {
    flex: 1; 
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(155, 220, 248, 0.3);
    box-sizing: border-box;
    position: relative;
}
.note-lane:last-child { border-right: none; }


/* Judge */

.judgement-line-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.jdline {
    width: 100%;
    height: 15px;
    background-color: rgba(40, 142, 235 , 0.75);
    border: 1px solid white;
    position: absolute;
    top: -15px; 
}

.key-display { display: flex; }


.key-display > div {
    flex: 1; 
    height: 100px;
    background-color: rgba(155, 220, 248, 0.5);
    border: 1px solid white;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 2px black;
    display: grid;
    place-items: center; 
}

.tile {
    position: absolute;
    bottom: 100%; 
    width: 100%;
    height: 15px;
    background-color: #FDCEDF;
    border-radius:20px;
    box-shadow: 1px 1px 2px black;
}


/* Control */

.game-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

#start {
    width: 200px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #80b8fc, #7bd5ff);
    border: none;
    border-radius: 50px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#start:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#start:active {
    transform: translateY(-2px); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

#clear {
    font-size: 15vw;
    color:white; font-weight: normal;
    text-shadow: 0 1px 1px #c0c0c0, 0 2px 0 #a8a7a6, 0 3px 0 #8b8a89, 0 4px 0 #7d7b7a, 0 5px 0 #686766, 0 6px 3px #5f5e5d;
    transition:0.5s;
    text-align: center;
}

.hidden { display: none}