body {
    background: linear-gradient(120deg, #a1cafd 0%, #c2e9fb 100%);
    margin: 0;
    padding: 0;
}


/* Header */

header {
    background-color: #333333db;
    color: white;
    padding: 5px 0;
}

#navbar {
    width: 90%;
    margin: 0 auto;
}

#title {
    font-size: 2rem;
}


/* Intro */

#intro{
    color: #2c3e50;
    padding: 10px 0;
    text-align: center;
}

#intro-text{
    font-size: 1.5rem;
}


/* slider */

#silder-container {
    position: relative;
    width: 80vw;
    max-width: 80rem;
    margin: 0 auto;
}

#slide-frame {
    border: 3px double white;
    position: relative;
    width: 100%; 
    height: 40vh;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.slide-btn {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10; 
    transition: 0.2s;
}

.slide-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#prev {
    left: 1rem; 
}

#next {
    right: 1rem; 
}


/* Media */

#media-container{
    font-size: 1.5rem;
    text-align: center;
}


/* Additional*/

.content-block {
    display: flex; 
    align-items: center;
    gap: 2rem; 
}

.content-block.reverse {
    flex-direction: row-reverse;
}

.text-content, .image-content {
    flex: 1; 
}

.text-content p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 2; 
}

.image-content img {
    width: 100%; 
    height: auto; 
    display: block; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}


/* Rhythm */

#rhythm {
    display: grid;
    place-items: center;
}

#trackDive {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2 ease-in-out;
}

#trackDive:hover {
    background: linear-gradient(120deg, #a1cafd, #c2e9fb, #89f7fe);
    transform: translateY(-3px);
    box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.15);
}